#left{
    width: 240px;
    background-color: #f2f2f2;
    height: 335px;
    border: 2px solid #000;
}

#middle {
    width: 568px;
    height: 339px;
    background-color: rgb(0, 0, 106);
    padding: 35px;
    box-sizing: border-box;
    border: 2px solid #000;
}

#right{
    width:128px;
    height: 335px;
    background-color: rgb(0, 0, 106);
    border: 2px solid #000;
}

body{
    background-image: url(../img/NS-Bord.webp);
}
#container{
    opacity: 0.5;
    width: 936px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
    margin-left: 122px;
    margin-top: 145px;
}
.witVierkantRechts{
    position: relative;
    width: 94px;
    height: 94px;
    background-color: white;
    margin-top: 36px;
    margin-left: 15px;
}
 
.blauwVierkantRechts{
    position:absolute;
    left: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(0, 0, 106);
}
.nummer18{
    position: absolute;
    left:5px;
    top:22px;
    color:rgb(0, 0, 106);
    font-size: 67px;
    font-weight: bold;
    letter-spacing: -7px;
}